<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data/Logs/internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" 
            name="allfile" 
            maxArchiveFiles="7"
            archiveAboveSize="10240000"
            fileName="${currentdir}/App_Data/Logs/${shortdate}-${level}.log"
                layout="${longdate} | ${logger} | ${message} ${exception:format=ToString,StackTrace} | ${aspnet-Request-Url:IncludePort=true:IncludeQueryString=true} | ${aspnet-Request-UserAgent} | ${aspnet-Request-Referrer} | ${aspnet-Request-Method} | ${aspnet-Request-IP}" />

    <!--<target xsi:type="Null" name="blackhole" /> -->
  </targets>

  <rules>
    <!--All logs-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
  </rules>
</nlog>